@using MetaShare.Common.Core.Presentation
@using Deli.Entities
@using Deli.Web.HtmlExtensions
@using Deli.Web.Models
@using Deli.Entities.Package01
<!--add customized code between this region-->
<!--add customized code between this region-->

@model IndexViewModel<Deli.Entities.Package01.lpoi>
@{
    ViewBag.Title = "Index";
    Layout  = "~/Views/Shared/_Layout.cshtml";
<!--add customized code between this region-->
<!--add customized code between this region-->
}

<div class="m_title_box">
    <ol>
        <li data-id="Package01">
            <a href="#">Package01</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="lpoi">
            <a href="#">lpoi</a><i class="icon-arrowright"></i>
        </li>
        <li data-id="Index">Index</li>
    </ol>
    <div class="m_title_action">
        <a class="m_btn" href="@(this.Url.Action("Create", "lpoi", null))">New</a>
    </div>
</div>
<div class="panel panel-default">
    
    <div class="panel-heading">lpoi</div>
    <div class="panel-body">
            @Html.Partial(Url.Content("../Package01_lpoi/_Search"), Model.SearchModel)
    <div class="table-responsive" id="lpoi_DataList">
            @Html.Partial(Url.Content("../Package01_lpoi/_DataList"), Model)
    </div>
    </div>
</div>
@this.Html.Partial("_DeleteDialog")
