body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:977px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:190px;
  width:385px;
  height:736px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:360px;
  width:381px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:27px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:195px;
  width:377px;
  height:27px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:11px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:584px;
  top:203px;
  width:363px;
  height:11px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:359px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:222px;
  width:399px;
  height:642px;
}
#u8_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:642px;
  overflow:auto;
}
#u9_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:864px;
  width:376px;
  height:57px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:869px;
  width:58px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u13_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:666px;
  top:869px;
  width:58px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u15_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:869px;
  width:58px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u17_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:869px;
  width:58px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
#u19_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:47px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:869px;
  width:58px;
  height:47px;
  font-family:'FontAwesome';
  font-weight:410;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  line-height:20px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:58px;
  word-wrap:break-word;
}
